body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0
  }
  nav {
      background-color: #fff;
      height: 16vh;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      border-bottom: 1px solid rgba(128, 128, 128, 0.525);
    }
    .menu-icon{
      display: none;
    }
    nav img{
      align-self: flex-start;
      margin-left: 15vh;
      max-width: 10%;
      z-index: 1;
    }
    nav ul {
      list-style-type: none;
      display: flex; 
      margin-right: 20vh;
      z-index: 1;
    }
    
    nav ul li {
      margin: 0 50px;
    }
    
    nav ul li a {
      font-size: 1.3em;
      letter-spacing: 3px;
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      transition: .3s ease;
    }
    
    nav ul li a:hover {
      color: #f7ca36;
      transition: .3s ease;
    }

    
    .aboutbg{
        display: flex;
        height: 40vh;
        justify-content: center;
        align-items: start;
        border-bottom: 1px solid #3E3B48;
        background-image: url(/images/aboutbg.jpg);
        background-size: cover;

    }

    .aboutbg h1{
        letter-spacing: 0.4em;
        font-size: 2em;
        border-radius: 15%;
        color: #3E3B48;
        border-bottom: 3px solid #f7ca36;
        text-align: center;
    }

    .aboutflex{
        display: flex;
        height: 45vh;
        flex-direction: row;
        align-items: center;
    }
    .aboutflex > div{
        flex:1;
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text p{
        width: 35vw;
        line-height: 1.5;
    }
    .image img{
        width:70%;
        border-radius: 15px;
        margin: 0;
        transition: all .2s ease-in-out;
    }
    .image img:hover{
        box-shadow: 0 0 20px  grey;
        transform: translateY(-5px);
    }
    



    .content{
        margin-top: 5vh;
        display: grid;
        grid-template-columns: 35% 35%;
        justify-content: center;
        column-gap:  8%;
        height: 80vh;
    }

    .content > div *{
    text-align: center;
    line-height: 1.5;
}
    .content > div h2{
        color: #a3cc4a;
    }
    .content > div p{
        font-size: 1.1em;
    }

    .content > div:nth-child(3) {
        grid-column: 1 / -1;
    }
    .content > div:nth-child(3) * {
        text-align: left;
        line-height: 1.7;
    }
    /* Footer */
.footer {
    background-color: #3E3B48 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-top:15vh;
    border-bottom: 1px solid #f7ca36 ;
  }
  .footer-content > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
  }
  
  .logo img{
    width:70%;
  }
  .links h2, .socials h2 {
    color: #f7ca36;
    margin-bottom: 1vh;
  }
  
  .links {
    flex: 1;
  }
  .links ul li{
    list-style: none;
    font-size: larger;
    line-height: 1.7;
  }
  .links ul li a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
  }
  .links ul li a:hover{
    color: #f7ca36;
  }

  .logo {
    flex: 2;
  }
  .socials{
    flex: 1;
    text-align: center;
  }
  .socials img {
    width:25%;
  }
  .footer-bottom {
    text-align: center;
    width: 100%;  
  }
  .footer-bottom p{
    color: white;
  }
  